<ul class="tudu-list">
  <li class="priority-<%= @list.priority.downcase %> tudu-id-<%= @list.id %> tudu-list-task" data-task-id="<%= @list.id %>">
    <div class="tudu-task-container">
      <div class="tudu-task"><%= @list.task %></div>
      <div class="tudu-edit-form hidden">
        <%= form_for @list, :remote => true do |f| %>
        <%= f.text_field :task, :class => "tudu-edit-input" %>
        <% end %>
      </div>
      <div class="tudu-order-form hidden">
        <%= form_for @list, :remote => true do |f| %>
          <%= f.text_field :order_num, :class => "tudu-order-input" %>
        <% end %>
      </div>
    </div>
    <ul class="tudu-task-options">
      <li class="tudu-edit">Edit</li>
      <li class="tudu-update hidden">Update</li>
      <li class="tudu-edit-cancel hidden">Cancel</li>
      <li class="tudu-delete"><%= link_to 'Delete', @list, :method => :delete, :remote => true %></li>
    </ul>
    <div class="clear"></div>
  </li>
</ul>